<table class="striped centered highlight">
  <thead>
    <tr>
      <th>Degree Name</th>
      <th>Studied At</th>
      <th>Period</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Professional Year Program
      </td>
      <td>
        Performance Education, Melbourne
      </td>
      <td>
        Jul 2018 - Present
      </td>
    </tr>
    <tr>
      <td>Master of Information Technology</td>
      <td>Charles Sturt University, Melbourne</td>
      <td>Jun 2016 - Feb 2018</td>
    </tr>
    <tr>
      <td>Bachelor of Engineering and Technology in Computer Science</td>
      <td>Jawaharlal Nehru Technological University, India</td>
      <td>Aug 2009 - Jun 2013</td>
    </tr>
  </tbody>
</table>