<ul class="collection">
  <li class="collection-item avatar">
    <img src="../../assets/programming.jpg" alt="" class="circle">
    <span class="title">Programming Languages</span>
    <pre>C, Core Java, JavaScript, Typescript</pre>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <img src="../../assets/frontend.png" alt="" class="circle">
    <span class="title">Front End</span>
    <pre>HTML5, CSS3, Angular 5, Materialize CSS</pre>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <img src="../../assets/sourcecontrol.png" alt="" class="circle">
    <span class="title">Source Control</span>
    <pre>Git, GitHub, Bitbucket</pre>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <img src="../../assets/ides.jpg" alt="" class="circle">
    <span class="title">Integrated Development Environments</span>
    <pre>Visual Studio Code, Visual Studio</pre>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <img src="../../assets/managementtools.png" alt="" class="circle">
    <span class="title">Management Tools</span>
    <pre>Trello, Slack</pre>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
    <img src="../../assets/testing.png" alt="" class="circle">
    <span class="title">Testing Tools</span>
    <pre>Jasmine, Karma</pre>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
</ul>