<div class="col s12 m7">
  <h2 class="header">Dattu Athreya</h2>
  <div class="card horizontal">
    <div class="card-image">
      <img src="../../assets/dattu.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>A dynamic and enthusiastic graduate with a Master of Information Technology from Charles Sturt University
          seeking a
          position as a front-end developer or full stack developer to apply knowledge and skill achieved through
          university. I
          can offer strong communication and technical skills and I look forward to elaborating my skills set through
          committing
          to the needs of your company. As a detail-oriented person, I’m willing to participate effectively to your
          dynamic team I
          am looking for an opportunity to establish myself within your company.</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/mdattu">Git Hub</a>
      </div>
    </div>
  </div>
</div>