<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#introduction">Introduction</a></li>
      <li class="tab col s3"><a href="#education">Educational History</a></li>
      <li class="tab col s3"><a href="#technicalskills">Technical Skills</a></li>
      <li class="tab col s3"><a href="#contactdetails">Contact details</a></li>
    </ul>
  </div>
  <div id="introduction" class="col s12">
    <app-introduction></app-introduction>
  </div>
  <div id="education" class="col s12">
    <app-education></app-education>
  </div>
  <div id="technicalskills" class="col s12">
    <app-technicalskills></app-technicalskills>
  </div>
  <div id="contactdetails" class="col s12">Test 4</div>
</div>