<div class="card">
  <div class="card-content">
    <p>Below are my contact details.</p>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a href="#address">Address</a></li>
      <li class="tab"><a class="active" href="#mobile">Mobile Number</a></li>
      <li class="tab"><a href="#email">Email Address</a></li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id="address">
      <address>
        52 Tyquin Street
        Melbourne
        VIC.
      </address>
    </div>
    <div id="mobile">+61420704255</div>
    <div id="email">dattu.athreya7788@gmail.com</div>
  </div>
</div>